/* Downloaded from GoogleFonts: https://fonts.google.com/specimen/Sofia+Sans */

@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-RegularItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "SofiaSans";
  src: url('./../fonts/sofia-sans/SofiaSans-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'SpaceMonoRegular';
  src: url('./../fonts/SpaceMono/SpaceMono-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SpaceMonoBold';
  src: url('./../fonts/SpaceMono/SpaceMono-Bold.ttf') format('truetype');
  font-display: swap;
}
