@import './reset.css';
@import './fonts.css';

:root {
  --border-width: 3px;
}

::selection {
  background-color: pink;
  color: black;
}

::-moz-selection {
  background-color: pink;
  color: black;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'SofiaSans', sans-serif; 
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  color: white;
  background-color: black;
  transition: all 0.3s ease;
}